
svg {
  display: block;
  margin: 20px auto;
  width: 600px;
}

.navbar-brand>img {
  display:initial;
}

#bulb {

  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  width: 60%;
  max-width: 50px;
}
